@model Web3.Module.ViewModels.PersonPartViewModel


<fieldset class="form-group" asp-validation-class-for="Name">
    <label asp-for="Name">@T["Name"] <span asp-validation-for="Name"></span></label>
    <input asp-for="Name.Text" class="form-control" />
    <span class="hint">@T["Person's name"]</span>
</fieldset>

<fieldset class="form-group" asp-validation-class-for="BirthDateUtc">
    <label asp-for="BirthDateUtc">@T["Birth date"] <span asp-validation-for="BirthDateUtc"></span></label>
    <input asp-for="BirthDateUtc" type="date" class="form-control" />
</fieldset>

<fieldset class="form-group" asp-validation-class-for="Handedness">
    <label asp-for="Handedness">@T["Handedness"] <span asp-validation-for="Handedness"></span></label>
    <select asp-for="Handedness" asp-items="Html.GetEnumSelectList<Web3.Module.Models.Handedness>()" class="form-control"></select>
</fieldset>

@*
<fieldset class="form-group" asp-validation-class-for="Hobby.Text">
    <label asp-for="Hobby.Text">@T["Hobby"] <span asp-validation-for="Hobby.Text"></span></label>
    <input asp-for="Hobby.Text" class="form-control" />
    <span class="hint">@T["Write your favorite hobby."]</span>
</fieldset>
*@